{% extends 'SimpleTradeBundle::layout.html.twig' %}

{% block body %}

<table>
    <tr>
        <td>
            <h1>Курсы</h1>
        </td>
        <td class="main-sidebar">
            {% render "SimpleTradeBundle:Security:login" %}
        </td>
    </tr>
</table>

{% endblock %}