{% extends 'SimpleTradeBundle::layout.html.twig' %}

{% block body %}

<table>
    <tr>
        <td style="font-size: 14pt">
            Дорогие коллеги!
			<br><br>
			Представляем вам проект Единой Строительной Тендерной Площадки СРО.
			Это не просто сайт саморегулируемых организаций,
			это не очередной аукционный портал – это профессиональное партнерство,
			куда входят 474 СРО строителей, проектировщиков и изыскателей,
			представляющие строительную отрасль страны.
			<br><br>
			Мы создали специализированную торговую площадку,
			на которую попадают только профессиональные участники строительного рынка,
			обладающие допусками.
			<br><br>
			Идея создания ЕСТП СРО поддержана Государственной корпорацией
			«Банк развития и внешнеэкономической деятельности (Внешэкономбанк)»,
			общественными организациями и структурами исполнительной власти
			федерального и регионального уровня.
			<br><br>
			Предлагаем вам стать участником  проекта Единой Строительной Тендерной Площадки СРО.
			<br><br>
			Давайте работать вместе!
        </td>
        <td class="main-sidebar">
            {% render "SimpleTradeBundle:Security:login" %}
        </td>
    </tr>
</table>

{% endblock %}