{% extends 'SimpleTradeBundle::base.html.twig' %}

{% block body %}
<h2>Добавление пользователя в компанию {{ company.getContent().getName() }}</h2>
<form action="" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <input type="submit" id="create" class="btn" />
</form>
{% endblock %}
